.header__wrapper 
  .header__main
    a.header__main-logo(href="/") 
      .header__main-logo-image 
        img.image.image--contain(src="/public/images/common/jillandger_logo.png", alt="Jill and Ger")
    .header__main-info 
      span.header__main-info-text THE WEDDING DAY
      span.header__main-info-text 02 12
  .header__rsvp
    a.header__rsvp-btn(href="") RSVP
