extends includes/layout.pug
block variables
  - page_title = 'HOME'
  - page_class = 'top'
  - 
    var page_metatags = [
      {name: 'description', content: 'Top Page'}, 
    ]

block content
  section.section__container.top__hero 
    .top__hero-ctr 
      h1.top__hero-heading Jill & Ger
      .top__hero-content 
        img.image(src="/public/images/top/hero-image.jpg", alt="Jill & Ger")
  section.section__container.top__ceremony
  section.section__container.top__reception
  section.section__container.top__dcode
  section.section__container.top__gifts
  
block customize_script
  script(src="js/top/index.js")
