extends includes/layout.pug
block variables
  - var page_title = 'Lower'
  - page_class = 'top'
  - 
    var page_metatags = [
      {name: 'description', content: 'Home Page'}, 
    ]

block content
  | aaaasdasd

block customize_script
  script(src="js/lower/index.js")
