extends includes/layout.pug
block variables
  - var page_title = 'RSVP'
  - page_class = 'rsvp'
  - 
    var page_metatags = [
      {name: 'description', content: 'Jill and Ger wedding site.'},
    ]
  -
    var og_metatags = [
      {property: 'og:title', content: 'RSVP | Jill and Ger'}, 
      {property: 'og:description', content: 'Jill and Ger wedding site.'}, 
      {property: 'og:image', content: '/public/images/rsvp/ogp.jpg'}
    ]

block content
  section.rsvp__main
    .rsvp__main-ctr
      .rsvp__main-image
        .rsvp__main-image-ct
          img.image.image--contain.image--100.image--center-right.pc-tablet(src="/public/images/rsvp/main-image.png", alt="RSVP")
          img.image.image--contain.image--100.image--center.tablet(src="/public/images/rsvp/main-image-tablet.png", alt="RSVP")
          img.image.image--contain.image--center.sp(src="/public/images/rsvp/main-image-sp.png", alt="RSVP")
          .rsvp__main-head-ct
            h1.rsvp__main-heading Jill #[br]& #[br]Ger
            span.rsvp__main-date.tablet Feb#[br]12,#[br]2026
      .rsvp__main-ct
        .rsvp__main-ct-info
          span.rsvp__main-ct-date 02 12 26
          h2.rsvp__main-ct-title.tablet-up
            span save
            span the
            span date
          span.rsvp__main-ct-loc.block Saint Pio of Pietrelcina #[br.sp]Parish, Antipolo City
        button.rsvp__main-ct-link.js-rsvp-btn(type="button" data-tf-popup="YuAtIzUS" data-tf-width="80vw" data-tf-height="90vh") RSVP

block customize_script
  script(src="//embed.typeform.com/next/embed.js")
