extends includes/layout.pug
block variables
  - var page_title = 'RSVP'
  - 
    var page_metatags = [
      {name: 'description', content: 'RSVP Page'}, 
    ]

block content
  | aaaasdasd

block customize_script
  script(src="js/lower/index.js")
